@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211.14 37% 94%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 209.64 86% 64%;
    --primary-foreground: 0 0% 98%;

    --btn: 211.06 100% 94%;
    --btn-foreground: 209.26 56% 45%;
    --btn-hover: 210.92 99% 89%;

    --secondary: 211.06 100% 94%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210.9 37% 5%;
    --foreground: 0 0% 90%;

    --card: 210.88 20% 12%;
    --card-foreground: 0 0% 98%;

    --btn: 210.65 28% 22%;
    --btn-foreground: 210.45 74% 70%;
    --btn-hover: 210.73 24% 27%;

    --secondary: 210.58 32% 19%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground box-border font-sans;
    font-family: "Noto Sans JP", sans-serif;
  }
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-500 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400/70;
}
